$bg:("primary":#4DADF9, "secondary":#D8D8D8,
"success":#7DBD30,"danger":#FA730F,
"warning":#FDDC48, "info":#4CDCD3, "_black":black, "_gray":rgb(73, 73, 73));


$font-Size:("small":14px, "normal":20px, "larg":30px);;
$color:("_black":#000000, "_white":#FFFFFF,
"_red":#F70000,"_yello":#FFF80C,"_green":#047600)